@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.content {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}
.content img {
    width: 300px;
}
h1 {
    font-family: Platypi;
    font-size: 3.5vw;
}
h2 {
    font-family: Platypi;
    font-size: 3vw;
}
h3 {
    font-family: Platypi;
    font-size: 1.7vw;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.main img {
    width: 100%;
    padding-top: 7vw;
    margin: 0;
    top: 0;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 5vw;
    }

}
