@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.footer {
    margin-top: 30px;
    width: 100%;
    background-color: #452c8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}


.footer-item {
    flex: 1; 
    text-align: center; 
}

.footer p {
    color: white;
}

.footer img {
    width: 15vw;
}
