@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


.content {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

h1 {
    font-family: Platypi;
    font-size: 3.5vw;
}
h2 {
    font-family: Platypi;
    font-size: 3vw;
}
.main img {
    width: 100%;
    padding-top: 7vw;
    margin: 0;
    top: 0;
}
.buttons button {
    border-radius: 7px;
    background-color: white;
}
.buttons button:hover {
    background-color: #CFB53B;
}
