@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


.content-ourhistory, .content-rhoboat, .content-lostalum {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-family: Platypi;
    font-size: 3.5vw;
}
h2 {
    font-family: Platypi;
    font-size: 3vw;
}
h3 {
    font-family: Platypi;
    font-size: 1.7vw;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}
.content-ourhistory p {
    font-family: Platypi;
    font-size: 1vw;
    text-align: left;
}
.content-rhoboat p {
    font-family: Platypi;
    font-size: 1vw;
    text-align: left;
}
.content-lostalum p {
    font-family: Platypi;
    font-size: 1vw;
    text-align: center;
}
