/* General Navbar Styling */
.main {
    padding-top: 30px;
    width: 100%;
    font-family: platypi;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}
.main img {
    width: 100%;
}
  