@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

/* General Navbar Styling */
.navbar {
  width: 100%;
  font-family: 'Platypi', sans-serif;
}

/* Top Banner Styling */
.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4B3F72; /* Purple background */
  color: white;
  padding: 5px 20px;
  position: relative;
  z-index: 2; /* Ensures it's above the logo */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow added here */

}

.email-link {
  color: white;
  text-decoration: none;
}

.banner-quote {
  font-size: 16px;
}

/* Bottom Banner Styling */
.bottom-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFB53B;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  margin-top: -0px; /* Negative margin to pull the banner up */
  height: 4vw;
}

.bottom-banner button {
  font-family: 'Platypi';
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5vw;
  padding: 6vw;
}

.logo img {
  width: 8vw;
  height: 8vw;
}

.logo a {
  background-color: #4B3F72;
  padding: 10px;
  color: white;
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 40%;
  z-index: 3; /* Ensures the logo stays behind the top banner */
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow added here */

}

.logo div {
  padding: 10px;
  font-size: 1.5vw;
}

