@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/* General Navbar */

/* Bottom Banner */
.banner {
  font-family: Platypi;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFB53B;
  height: 7vw; 
  width: 100%;
  z-index: 100;
}
.logo {
  display: flex;        
  align-items: center;  
  justify-content: center;
}

.banner button {
  font-family: 'Platypi';
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5vw;
}

/* Chi Psi Crest and Website Title */

.logo img {
  width: 5vw; 
  border-radius: 100%;
  background-color: #CFB53B;
}

.logo a {
  background-color: #452c8a;
  color: white;
  display: flex;
  width: 21vw; 
  height: 7vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.logo div {
  padding: 10px;
  font-size: 1.3vw;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Toggle button styles */
.menu-toggle {
  display: none; /* Hide checkbox */
}

.sidebar-toggle {
  display: none; /* Initially hide toggle button */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1500;
  cursor: pointer;
  padding: 10px;
  background-color: #452c8a;
  color: white;
  border: none;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 65px;
    height: 65px;
  }
  .banner button {
    font-size: 15px;
  }
  .logo a {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: #CFB53B; /* Ensure background color is the same as the rest of the layout */
  }
  .logo div {
    font-size: 17px;
  }
  .option {
    visibility: hidden;
    background-color: #CFB53B;
  }
  .logo img {
    width: 55px;
    position: fixed;
    top: 5px;
    left: 5px;
  }
  .sidebar-toggle {
    width: 60px;
    position: fixed;
    top: 5px;
    right: 5px;
    display: block;
  }
  .menu-toggle:checked ~ div{
    width: 100%;
    visibility: visible;
  }
  .menu-toggle:checked ~ .option {
    visibility: visible;
  }
  .banner {
    visibility: visible;
  }
  .banner div {
    position: relative;
    width: 100%;
  }
}
